
$color-nav :#FFD34E;
a, a:hover, a:active, a:focus {
	text-decoration: none;
	outline: 0;
}
ul, li {
	margin: 0;
	padding: 0;
}
/* Header style goes here */
.color-nav-active{
	color: #333 !important; 
	
}
#Header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: all 0.3s ease-in-out;
	z-index: 9;
    box-shadow: 0 5px 5px -5px#FFD34E;
}
.shadow{
	box-shadow: 0 5px 5px -5px#333 !important;
}
#Header.header-fixed {
	background: $color-nav;
	transition: all 0.3s ease-in-out;
}
#Header.header-fixed .site-logo-wrap {
	padding: 10px 0;
	transition: all 0.3s ease-in-out;
}
#Header.header-fixed .site-logo-wrap .logo img {
	width: 100px;
	transition: all 0.3s ease-in-out;
}
#Header.header-fixed .main-menu {
	padding: 27px 0;
	transition: all 0.3s ease-in-out;
}
#Header.header-fixed .main-menu li a {
	padding: 10px 10px;
	transition: all 0.3s ease-in-out;
}
#Header.header-fixed a.menu-trigger {
	top: 30px;
	transition: all 0.3s ease-in-out;
}
#Header .site-logo-wrap {
	width: 30%;
	float: left;
	padding: 30px 0;
	transition: all 0.3s ease-in-out;
}
#Header .site-logo-wrap .logo {
	color: #fff;
	font-size: 24px;
	font-style: italic;
	display: inline-block;
}
#Header .site-logo-wrap .logo img {
	display: inline-block;
	vertical-align: middle;
	width: 150px;
}
#Header .main-menu {
	width: 70%;
	text-align: right;
	float: right;
	padding: 50px 0;
	transition: all 0.3s ease-in-out;
}
#Header .main-menu li {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
#Header .main-menu li a {
	position: relative;
	font-size: 16px;
	color: $color-nav;
	padding: 15px 10px;
	font-family: 'Open Sans', sans-serif;
}
#Header .main-menu li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#Header .main-menu li a:hover::before, #Header .main-menu li a.active::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* mobile menu style*/
#Header .mobile-menu {
	width: 100%;
	left: -100%;
    // background-color: rgb(29, 142, 235);
    background-image: linear-gradient(-90deg, rgb(197, 55, 55), rgb(255,215,0));
	position: absolute;
	top: 0;
	z-index: -1;
	height: 100vh;
	transition: left .5s .5s;
}
#Header .mobile-menu.visible {
	left: 0;
	transition: left .5s;
}
#Header .mobile-menu ul {
	margin-top: 150px;
}
#Header .mobile-menu ul li {
	list-style: none;
	padding: 0 0 30px 0px;
}
#Header .mobile-menu ul li a {
    text-align: center;
	font-size: 16px;
	color: #fff;
    padding: 0;
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
}
/* menu toggler style */
#Header a.menu-trigger {
  cursor: pointer;
  position: relative;
  top: 55px;
  width: 40px;
  height: 40px;
  float: right;
  transition: all 0.3s ease-in-out;
}
#Header a.menu-trigger.home-page span,
#Header a.menu-trigger.home-page span:before,
#Header a.menu-trigger.home-page span:after {
  background-color: #FFF !important;

}

#Header a.menu-trigger span,
#Header a.menu-trigger span:before,
#Header a.menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #333;
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  left: 0;
}
#Header a.menu-trigger span:before,
#Header a.menu-trigger span:after {
  content: "";
}
#Header a.menu-trigger span {
  top: 10px;
}
#Header a.menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}
#Header a.menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}
#Header a.menu-trigger.home-page.active span {
  background-color: transparent !important;
}
#Header a.menu-trigger.active span,
#Header a.menu-trigger.active span:before,
#Header a.menu-trigger.active span:after {
  background-color: transparent;
}
#Header a.menu-trigger.active span:before {
  transform: translateY(4px) translateX(1px) rotate(45deg);
  background-color: white;
}
#Header a.menu-trigger.active span:after {
  transform: translateY(-8px) translateX(1px) rotate(-45deg);
  background-color: white;
}
/*Banner style goes here */

#HeroBanner {
	display: table;
	width: 100%;
	height: 100vh;
	background: url(../images/banner.jpg)no-repeat 0 0 / cover;
	background-attachment: fixed;
}
#HeroBanner  .container.hero-content {
	display: table-cell;
	background-color: rgba(10,40,60,0.7);
	text-align: center;
	vertical-align: middle;
	padding: 0 12em;
}
#HeroBanner .hero-content h1 {
	font-size: 48px;
	color: #fff;
	text-transform: uppercase;
	margin: 0 0 20px;
}
#HeroBanner .hero-content p {
	font-size: 20px;
	color: #fff;
	margin: 0 0 30px;
}
#HeroBanner .hero-content .hero-cta {
	font-size: 22px;
	color: #fff;
	text-decoration: none;
	border: 2px solid #fff;
	border-radius: 0;
	display: inline-block;
	padding: 1em;
	transition: all 0.3s ease-in-out;
}
#HeroBanner .hero-content .hero-cta:hover {
    color: #fff;
	background-color: #FFD700;
	border: 2px solid #FFD700;
	transition: all 0.3s ease-in-out;
}

#ContactUs .contact-title {
	font-size: 30px;
	color: #000;
	text-align: center;
	margin: 0 0 30px;
}
#ContactUs .contact-outer-wrapper {
	width: 100%;
	height: auto;
	display: table;
	margin: 0 auto;
}
#ContactUs .address-block {
	width: 40%;
	height: 100%;
	display: table-cell;
	color: #333;
	position: relative;
	padding: 40px;
}
#ContactUs .address-block::after {
  position: absolute;
  content: "";
  right: 3%;
  width: 1px;
  height: 80%;
  background: #ccc;
  top: 10%;
}
#ContactUs .add-title {
	font-size: 22px;
	font-weight: bold;
	margin: 0 0 50px;
}
#ContactUs .add-title span{
	font-size: 16px;
}
#ContactUs .c-detail {
	margin-bottom: 20px;
}
#ContactUs .c-detail:last-child {
	margin-bottom: 0;
}
#ContactUs .c-detail .c-icon {
  width: 8%;
  display: inline-block;
  font-size: 20px;
  vertical-align: top;
}
#ContactUs .c-detail .c-info {
	width: 90%;
	display: inline-block;
	vertical-align: top;
}
#ContactUs .c-detail span .fa {
	vertical-align: top;
}
#ContactUs .form-wrap {
	width: 60%;
	display: table-cell;
	padding: 40px;
}
#ContactUs .form-wrap .floating-label {
	position: relative;
	width: 47%;
	display: inline-block;
	margin-bottom: 30px;
}
#ContactUs .form-wrap .fname, #ContactUs .form-wrap .contact {
	margin-right: 20px;
}
#ContactUs .form-wrap .user-msg {
	width: 98%;
	display: block;
	margin-bottom: 40px;
}
#ContactUs .floating-input {
	width: 100%;
	border: 0;
	border-bottom: 1px solid #999999;
	box-shadow: none;
	background-color: transparent;
	padding-top: 3px;
}
#ContactUs .floating-input:focus {
	outline: 0;
}
#ContactUs .form-wrap label {
	position: absolute;
	top: 0px;
	left: 0;
	font-size: 14px;
	text-align: left;
	color: #999999;
	transition: top 0.2s ease-in-out;
	z-index: -1;
	margin: 0;
}
#ContactUs .floating-input:focus ~ label, #ContactUs .floating-input.not-empty ~ label {
	top: -18px;
  font-size:12px;
  color:#0098aa;
  transition: top 0.2s ease-in-out;
}
#ContactUs .submit-btn {
	text-align: center;
}
#ContactUs .submit-btn button {
	font-size: 16px;
	border: 0;
	border-radius: 0;
	background-color: #0098aa;
	color: #fff;
	padding: 10px 20px;
	cursor: pointer;
	outline: 0;
}
#ContactUs .submit-btn button:hover {
	background-color: rgba(0,152,170,0.8);
}
  
  .top-title {
    z-index: 5;
    font-size: 27px;
    font-weight: 700;
    color: #fff;
    line-height: 38px;
    letter-spacing: 4px;
    opacity: 1;
    text-transform: uppercase;
  }
  
  .sub-title {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    line-height: 71px;
    letter-spacing: 4px;
    opacity: 1;
    text-transform: uppercase;
  }
  
  .title {
    font-size: 123px;
    font-weight: 700;
    color: #fff;
    line-height: 88px;
    letter-spacing: 4px;
    opacity: 1;
    text-transform: uppercase;
    padding: 25px 0px;
  }
  
  .btn-submit-banner {
    background: #FFD34E;
    border: 0px;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 40px;
    font-weight: normal;
    border-radius: 0px;
    letter-spacing: 1px;
    color: #333;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    // margin-top: 25px;
    border: 2px solid #FFD34E;
  }
  
  .btn-submit-banner:hover {
	background: #fff;
	color: #333 !important;
  }
  

